<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>StegoHide</h3>
            <p>Hide your secrets in plain sight with advanced steganography techniques.</p>
            <div class="social-icons">
                <a href="https://github.com/Poorvaj-HV/Steganography---MERN-Stack-Application"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/poorvaj_hv/"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/poorvaj-h-v-469a11328/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.youtube.com/@ProgramPortfolio-x2e"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/encode"><i class="fa-solid fa-right-to-bracket"></i> Encode Message</a></li>
                <li><a href="/decode"><i class="fa-solid fa-right-from-bracket"></i> Decode Message</a></li>
                <li><a href="/admin"><i class="fa-solid fa-user-tie"></i> Admin</a></li>
                <li><a href="/about"><i class="fa-solid fa-magnifying-glass-chart"></i> About Us</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Legal</h4>
            <ul>
                <li><a href="/about"><i class="fa-solid fa-handshake"></i> Privacy Policy</a></li>
                <li><a href="/about"><i class="fa-solid fa-hand-point-left"></i> Terms of Service</a></li>
                <li><a href="/about"><i class="fa-solid fa-cookie-bite"></i> Cookie Policy</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Contact</h4>
            <ul>
                <li><a href="mailto:stegohide4all@gmail.com"><i class="fa-solid fa-reply"></i> info@stegohide.com</a></li>
                <li><a href="tel:08047181888"><i class="fa-solid fa-phone"></i> 080-2356-198</a></li>
                <li><a href="mailto:stegohide4all@gmail.com"><i class="fa-solid fa-pen-to-square"></i> Feedback</a></li>
            </ul>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2025 StegoHide. All rights reserved.</p>
    </div>
</footer>